@model IEnumerable<ConsultaMed_WEB.Models.Convenio>

@{
    ViewBag.Title = "Lista de Convênios Associados";
}

<hgroup class="page-header">
    <h2>@ViewBag.Title</h2>
</hgroup>

@{
    if (TempData["Erro"] != null)
    {
    <div id="mensagemErr" class="row">
        <div class="span12">
            <div class="alert alert-error">
                <a id="fecharErr" class="close">x
                </a>
                <strong>Erro</strong>
                @TempData["Erro"].ToString()
            </div>
        </div>
    </div>
    }
}
<br>
@if (Model.Any())
{
    foreach (var item in Model)
    {
    <address>
        <strong>@item.Descricao,</strong>
        <br>
        Fone: @item.Telefone
        <br>
        Site: @item.Site
    </address>
    <br />
    }
}

else
{
    <p class="lead"><em>Nenhum Convênio foi encontrado...</em></p>
}


