@using ConsultaMed_WEB.Models
@model Agendamento

@{
    ViewBag.Title = "Agendamento de Consultas";

}
<hgroup class="page-header">
    <h2>@ViewBag.Title</h2>
</hgroup>
@Html.AntiForgeryToken()
@if (Html.ValidationSummary(true) != null)
{
    <div id="mensagemErr" class="row">
        <div class="span12">
            <div class="alert alert-error">
                <a id="fecharErr" class="close">x
                </a>
                <strong>Erro</strong>
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>
}
@if (TempData["Mensagem"] != null)
{
    <div id="mensagemSuc" class="row">
        <div class="span12">
            <div class="alert alert-success">
                <a id="fecharSuc" class="close">x
                </a>
                <strong>Sucesso</strong><br />
                <ul>
                    <li>@TempData["Mensagem"]</li>
                </ul>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Agendar2", "Consulta"))
{
    <div class="form-horizontal well">
        <fieldset>
            <legend>Formulário de Agendamento de Consulta</legend>

            @Html.Partial("_EspecialidadesPartial")

            <div class="control-group">
                @Html.Label("Médico", new { @class = "control-label" })
                <div class="controls">
                    <select name="MedicoUserId" id="MedicosEncontrados" onchange="SessionaMedicoId()">
                    </select>
                    <img src="~/Resources/ajax-loader.gif" style="display: none" alt="carregando.." id="loadingMedico" />
                </div>
            </div>

            <div id="escondido" style="display: none">
                <div class="control-group">
                    @Html.LabelFor(m => m.DataConsulta, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.DataConsulta, new { @id = "datepicker", @class = "textData", onchange = "carregaAgenda()" })
                        @Html.ValidationMessageFor(m => m.DataConsulta)
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("Agenda Encontrada", new { @class = "control-label" })
                    <div class="controls">
                        <select id="AgendaEncontrada" name="Horario">
                        </select>
                        <img src="~/Resources/ajax-loader.gif" style="display: none" alt="carregando.." id="loading" />
                        <span id="valHorario" class="field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true" style="display: none">Nenhuma agenda disponível para data informada.</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("Paciente(s)", new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(m => m.PacienteUserId, (SelectList)ViewData["pacienteList"], "[Selecione]")
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Agendar" class="btn btn-primary" />
                    <input type="reset" value="Limpar" class="btn btn-info" onclick="LimparComboHorario()" />
                    @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </fieldset>
    </div>
    
    <!-- Modal Medico -->
    <div id="dialogMedico" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Médico não encontrado</h3>
        </div>
        <div class="modal-body">
            <p>Nenhum médico encontrada para especialidade informada!</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
        </div>
    </div>
    
    <!-- Modal Agenda -->
    <div id="dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel1">Agenda não encontrada</h3>
        </div>
        <div class="modal-body">
            <p>Nenhuma agenda encontrada para data informada!</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/bundles/jquerymask")
    @Scripts.Render("~/bundles/formulario")

}

