@using System.Globalization
@model IEnumerable<ConsultaMed_WEB.Models.Agendamento>

@{
    ViewBag.Title = "Gerenciar Consultas Agendadas";
}

<hgroup class="page-header">
    <h2>@ViewBag.Title</h2>
</hgroup>

@{
    if (TempData["Erro"] != null)
    {
        <div id="mensagemErr" class="row">
            <div class="span12">
                <div class="alert alert-error">
                    <a id="fecharErr" class="close">x
                    </a>
                    <strong>Erro</strong>
                    @TempData["Erro"].ToString()
                </div>
            </div>
        </div>
    }
    if (TempData["Mensagem"] != null)
    {
        <div id="mensagemSuc" class="row">
            <div class="span12">
                <div class="alert alert-success">
                    <a id="fecharSuc" class="close">x
                    </a>
                    <strong>Sucesso</strong><br />
                    <ul>
                        <li>@TempData["Mensagem"]</li>
                    </ul>
                </div>
            </div>
        </div>
    }
}

    @Html.Partial("_FiltroAgendamentosPartial")

<br>
<div id="tabela">
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Data da Consulta</th>
                    <th>Horário</th>
                    <th>Paciente</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DataConsulta.ToShortDateString()</td>
                        <td>@item.Horario</td>
                        <td>@item.UsuarioPaciente.Nome @item.UsuarioPaciente.Sobrenome</td>
                        <td><a href="#myModal" role="button" class="btnRemove btn btn-warning centro" data-toggle="modal" data-id="@item.AgendamentoId" data-name="@item.UsuarioPaciente.Nome" data-url="Deletar/" title="Excluir Consulta"><i class="icon-trash"></i></a></td>
                    </tr>
                    <!-- Modal -->
                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Atenção</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja realmente excluir o Agendamento do usuário <em id="user"></em>?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                            @Html.ActionLink("Remover", "Deletar", "Consulta", null, new { id = "btnConfirm", @class = "btn btn-warning" })
                        </div>
                    </div>
                }
            </tbody>
        </table>
    }

    else
    {
        <p class="lead"><em>Nenhuma Consulta agendada...</em></p>
    }
</div>

@using (var banco = new ConsultaMed_WEB.Models.Repositorio.UnitOfWork())
{
    banco.Dispose();
}

